<app-nav-bar></app-nav-bar>


<div class="wbdv_profile_page">

  <h1>Profile Page</h1>

  <ul class="list-group" >
    <li class="list-group-item">
      <h5> UserId : </h5>
      {{user._id}}
    </li>
    <li class="list-group-item">
      <h5> Username : </h5>
      {{user.username}}
    </li>
    <li class="list-group-item">
      <h5> User Role:  </h5>
      {{user.role}}
    </li>
    <li class="list-group-item">
      <h5> First Name : </h5>
        {{user.firstName}}
      <button class="btn btn-danger float-right" >
        Hide From Public
      </button>
    </li>
    <li class="list-group-item">
      <h5> Last Name :  </h5>
        {{user.lastName}}
      <br>
      <button class="btn btn-danger float-right" >
        Hide From Public
      </button>
    </li>
    <li class="list-group-item">
      <h5> Email Name : </h5>
      <span [hidden]="user.editing">
      {{user.email}}
      </span>
      <br>
      <button class="btn btn-danger float-right" >
        Hide From Public
      </button>
      <input [hidden]="!user.editing" [(ngModel)]="user.email"/>
          <button class="btn btn-success" [hidden]="user.editing" (click)="editUser(user)">
            Edit
          </button>
          <button class="btn btn-success" [hidden]="!user.editing" (click)="saveUser(user)">
            Save
          </button>
    </li>
    <li class="list-group-item">
      <a class="nav-link" href="/movielist/{{user._id}}">
        <h5> My MovieList </h5>
      </a>
    </li>

  </ul>


  <button class="btn btn-danger btn-block wbdv_profile_logoutBtn" (click)="logout()">
    Logout
  </button>


</div>
