<app-nav-bar></app-nav-bar>

<div class="container wbdv_search_jumbotron">
  <div class="jumbotron">
    <h3 class="text-center">Search For a Movie :  </h3>
    <input placeholder="Search for a Movie Title"
           [(ngModel)]="searchText"
           class="form-control"/>
    <button
      (click)="fetchMoviesBySearchText(searchText)"
      class="btn btn-primary btn-block wbdv_search_jumbotronBtn">
      Search
    </button>
  </div>
</div>

<div class="row">
  <div *ngFor="let movie of moviesSearchResult.Search">
    <div class="wbdv_home_cardDeck col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{movie.Poster}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> {{movie.Title}}   </h5>
          <p class="card-text">   {{movie.Year}} | {{movie.Type}} </p>
          <a href="/details/{{movie.imdbID}}" class="btn btn-primary btn-block"> Details </a>
          <a href="#" class="btn btn-danger btn-block"> Add </a>
        </div>
      </div>
    </div>
  </div>
</div>
