<app-nav-bar></app-nav-bar>



<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4"> Welcome to MovieMatch </h1>
    <p class="lead"> Let's get started finding a movie to watch with your friends! </p>
    <a href="/register"  class="btn btn-primary my-2 wbdv-home-jumbotron-btn"> Sign Up </a>
    <a href="/login" class="btn btn-secondary my-2 wbdv-home-jumbotron-btn"> Login </a>
  </div>
</div>


<div class="wbdv_home_cardDeck">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/7106uLYY2LL._AC_SL1111_.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title "> Featured Movie   </h5>
    <h3 class="card-title "> Inception  </h3>
    <p class="card-text">   Your mind is the scene of the crime. </p>
    <a href="#" class="btn btn-primary btn-block"> Details </a>
  </div>
</div>

</div>
